body{
  font:sans-serif;
  background-color:white;
}

#header{
  width:50px;
  margin: 0 auto;
}

#sub-title{
  font-size:30;
  width:600px;
  margin:0 auto;
}

#date{
  font-size:12;
  color:gray;
  margin-left:250px;
}

#blockquote{
  background-color:#B8B8B8;
  width:250px;
  float:left;
  border-style:solid;
  border-color:black;
  padding:10px;
}

#entry{
  font-size:14;
  margin-left:250px;
  margin-right:250px;
}
  
  
  