body{
  background-color:gray;
  font-family:sans-serif;
}
#header{
  font:22;
  color:black;
  margin-left:350px;
}

#text{
  width:600px;
  margin-left:200px;
  color:black
}


#sidebar{
  position:absolute;
  bottom:300px;
  width:175px;
  font-size:12px;
  }

#footer{
  position:absolute;
  left:800px;
  bottom:10;
  width:74px;
}

a:link {color:#FF0000}
a:visited {color:#00FF00}
a:hover {color:#FF00FF}
a:active {color:#0000FF}

.tap-list{
  color:white;
  font-size:16;
}


#blockquote{
  font: 14;
  float:left;
  background:white;
  width:150px;
  padding:10px;
  border-style:solid;
}
  
#image{
  position:absolute;
  left:300px;
  border-style:solid;
  border-color:black;
  margin:10px
}


body{
  background-color:gray;
  font-family:sans-serif;
}
#header{
  font:22;
  color:black;
  margin-left:350px;
}

#text{
  width:600px;
  margin-left:150px;
  color:black
}



#footer{
  position:relative;
  left:800px;
  bottom:-50px;
  width:75px;
}

a:link {color:#FF0000}
a:visited {color:#00FF00}
a:hover {color:#FF00FF}
a:active {color:#0000FF}


#caption{
  position:absolute;
  bottom:-220px;
  color:white;
  left: 320px;
  z-index:2;
  width:75px;
}