body{
  background-color:white;
}

#header{
  font-size:16px;
  margin-left:auto;
  margin-right:auto;
  width:50%;
}

#sub-title{
  font-size:18px;
  margin-left:auto;
  margin-right:auto;
  width:50%;
}

#post{
  margin-right:auto;
  margin-left:auto;
  width:50%;
  background-color:#CDC8B1;
  border: 2px solid;
  border-radius:25px;
  padding:15px;
}

p{
  font-size:11px;
}

#date{
  margin-left:auto;
  width:50%;
  margin-right:auto;
}

#header{
  margin-right:auto;
  margin-left:auto;
  width:50%;
}