header{
	width:100%;
	font-size: 45px;
	background-color: #F0F0F0;
	position: fixed;
	height:120px;
	margin-top:0px;
	z-index: 1;
}

header h1{
	font-size: 40px;
	text-align: center;
	padding:20px;

}

body{
	background-color: #C0C0C0;
	font-family: 'Open Sans Condensed', sans-serif;
}

.profile{
	border: 0px solid;
	box-shadow: 0px 0px 4px 1px #666;
	position: fixed;
	margin: 20px 0px 0px 10px;
}

.wrapper{
	width:75%;
	margin: 0 auto;
	padding: 120px;
}

.menu{
	display: block;
	width: 200px;
	background-color: #E8E8E8;
	position: fixed;
	margin:250px 0px 0px 10px;
	box-shadow: 0px 0px 3px 1px #666;
}

.menu a{
	display:block;
	text-decoration: none;
	color: black;
	width:auto;
	background-color: #888888;
	border:1px solid;
	padding:3px;
	margin:5px 30px 10px 30px;
}

.menu h1{
	text-align: center;

}

section{
	width:900px;
	margin: 75px 0px 0px 300px;
	overflow: hidden;

}
article{
	display:block;
	height:100px;
	width:600px;
	background-color: gray;
	border: 0px solid;
	margin: 20px;
	box-shadow: 0px 0px 5px 2px #666;
}

article h1{
	display:table-cell;
	border:0px solid;
	background-color: #E8E8E8;
	width:100px;
	height:100px;
	text-align: center;
	vertical-align: middle;
	
}

article a{
	color:black;
	display:inline-block;
	text-decoration: none;
	position:relative;
	top:-97px;
	right:-100px;
	border: 0px solid;
	border-radius: 3px;
	height: 80px;
	width: 80px;
	margin:7px;
	background-color: #B0B0B0;
	text-align: center;
		vertical-align: top;
	line-height: 75px;

}

article a:hover{
	color:white;
	background-color: #585858;
}

article:hover{
	box-shadow: 0px 0px 3px 1px #666;
}

.menu a:hover{
	color:white;
	background-color: #585858;
}


